<div>
  <h2 id="page-heading" data-cy="ReportExecutionHeading">
    <span jhiTranslate="relaxReportingApp.relaxReportingReportExecution.home.title">Report Executions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="relaxReportingApp.relaxReportingReportExecution.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-report-execution"
        [routerLink]="['/relaxreporting/report-execution/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="relaxReportingApp.relaxReportingReportExecution.home.createLabel">Create a new Report Execution</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (reportExecutions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="relaxReportingApp.relaxReportingReportExecution.home.notFound">No Report Executions found</span>
    </div>
  }

  @if (reportExecutions && reportExecutions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="date">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportExecution.date">Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="error">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportExecution.error">Error</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="url">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportExecution.url">Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportExecution.user">User</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="report.id">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportExecution.report">Report</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (reportExecution of reportExecutions; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/relaxreporting/report-execution', reportExecution.id, 'view']">{{ reportExecution.id }}</a>
              </td>
              <td>{{ reportExecution.date | formatMediumDatetime }}</td>
              <td>{{ reportExecution.error }}</td>
              <td>{{ reportExecution.url }}</td>
              <td>{{ reportExecution.user }}</td>
              <td>
                @if (reportExecution.report) {
                  <div>
                    <a [routerLink]="['/relaxreporting/report', reportExecution.report.id, 'view']">{{ reportExecution.report.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/relaxreporting/report-execution', reportExecution.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/relaxreporting/report-execution', reportExecution.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(reportExecution)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (reportExecutions && reportExecutions.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
