@if (reportColumnMapping) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(reportColumnMapping.rid!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="reportColumnMappingDeleteDialogHeading" jhiTranslate="entity.delete.title">
        Confirm delete operation
      </h4>

      <span class="btn btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></span>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-reportColumnMapping-heading"
        jhiTranslate="relaxReportingApp.relaxReportingReportColumnMapping.delete.question"
        [translateValues]="{ id: reportColumnMapping.rid }"
      >
        Are you sure you want to delete Report Column Mapping {{ reportColumnMapping.rid }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-reportColumnMapping" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
