<div>
  <h2 id="page-heading" data-cy="ReportDistributionHeading">
    <span jhiTranslate="relaxReportingApp.relaxReportingReportDistribution.home.title">Report Distributions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="relaxReportingApp.relaxReportingReportDistribution.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-report-distribution"
        [routerLink]="['/relaxreporting/report-distribution/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="relaxReportingApp.relaxReportingReportDistribution.home.createLabel">Create a new Report Distribution</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (reportDistributions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="relaxReportingApp.relaxReportingReportDistribution.home.notFound">No Report Distributions found</span>
    </div>
  }

  @if (reportDistributions && reportDistributions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="rid">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportDistribution.rid">Rid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportDistribution.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportDistribution.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="report.rid">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportDistribution.report">Report</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (reportDistribution of reportDistributions; track trackRid) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/relaxreporting/report-distribution', reportDistribution.rid, 'view']">{{ reportDistribution.rid }}</a>
              </td>
              <td>{{ reportDistribution.email }}</td>
              <td>{{ reportDistribution.description }}</td>
              <td>
                @if (reportDistribution.report) {
                  <div>
                    <a [routerLink]="['/relaxreporting/report', reportDistribution.report.rid, 'view']">{{
                      reportDistribution.report.rid
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/relaxreporting/report-distribution', reportDistribution.rid, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/relaxreporting/report-distribution', reportDistribution.rid, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(reportDistribution)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
