<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-report-data-source-heading"
        data-cy="ReportDataSourceCreateUpdateHeading"
        jhiTranslate="relaxReportingApp.relaxReportingReportDataSource.home.createOrEditLabel"
      >
        Create or edit a Report Data Source
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label" for="field_rid" jhiTranslate="relaxReportingApp.relaxReportingReportDataSource.rid">Rid</label>
          <input
            type="text"
            class="form-control"
            name="rid"
            id="field_rid"
            data-cy="rid"
            formControlName="rid"
            [readonly]="editForm.get('rid')!.disabled"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="relaxReportingApp.relaxReportingReportDataSource.type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_url" jhiTranslate="relaxReportingApp.relaxReportingReportDataSource.url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="relaxReportingApp.relaxReportingReportDataSource.user">User</label>
          <input type="text" class="form-control" name="user" id="field_user" data-cy="user" formControlName="user" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_password" jhiTranslate="relaxReportingApp.relaxReportingReportDataSource.password"
            >Password</label
          >
          <input type="text" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
