<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (reportParam()) {
      <div>
        <h2 data-cy="reportParamDetailsHeading">
          <span jhiTranslate="relaxReportingApp.relaxReportingReportParam.detail.title">Report Param</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ reportParam()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="relaxReportingApp.relaxReportingReportParam.name">Name</span></dt>
          <dd>
            <span>{{ reportParam()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="relaxReportingApp.relaxReportingReportParam.type">Type</span></dt>
          <dd>
            <span>{{ reportParam()!.type }}</span>
          </dd>
          <dt><span jhiTranslate="relaxReportingApp.relaxReportingReportParam.value">Value</span></dt>
          <dd>
            <span>{{ reportParam()!.value }}</span>
          </dd>
          <dt><span jhiTranslate="relaxReportingApp.relaxReportingReportParam.conversionRule">Conversion Rule</span></dt>
          <dd>
            <span>{{ reportParam()!.conversionRule }}</span>
          </dd>
          <dt><span jhiTranslate="relaxReportingApp.relaxReportingReportParam.report">Report</span></dt>
          <dd>
            @if (reportParam()!.report) {
              <div>
                <a [routerLink]="['/relaxreporting/report', reportParam()!.report?.id, 'view']">{{ reportParam()!.report?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/relaxreporting/report-param', reportParam()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
