<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (reportMetadata()) {
      <div>
        <h2 data-cy="reportMetadataDetailsHeading">
          <span jhiTranslate="relaxReportingApp.relaxReportingReportMetadata.detail.title">Report Metadata</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ reportMetadata()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="relaxReportingApp.relaxReportingReportMetadata.metadata">Metadata</span></dt>
          <dd>
            <span>{{ reportMetadata()!.metadata }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/relaxreporting/report-metadata', reportMetadata()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
