<div>
  <h2 id="page-heading" data-cy="ReportMetadataHeading">
    <span jhiTranslate="relaxReportingApp.relaxReportingReportMetadata.home.title">Report Metadata</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="relaxReportingApp.relaxReportingReportMetadata.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-report-metadata"
        [routerLink]="['/relaxreporting/report-metadata/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="relaxReportingApp.relaxReportingReportMetadata.home.createLabel">Create a new Report Metadata</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (reportMetadata?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="relaxReportingApp.relaxReportingReportMetadata.home.notFound">No Report Metadata found</span>
    </div>
  }

  @if (reportMetadata && reportMetadata.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="rid">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportMetadata.rid">Rid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="metadata">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportMetadata.metadata">Metadata</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (reportMetadata of reportMetadata; track trackRid) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/relaxreporting/report-metadata', reportMetadata.rid, 'view']">{{ reportMetadata.rid }}</a>
              </td>
              <td>{{ reportMetadata.metadata }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/relaxreporting/report-metadata', reportMetadata.rid, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/relaxreporting/report-metadata', reportMetadata.rid, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(reportMetadata)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
