<div>
  <h2 id="page-heading" data-cy="ReportParamHeading">
    <span jhiTranslate="relaxReportingApp.relaxReportingReportParam.home.title">Report Params</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="relaxReportingApp.relaxReportingReportParam.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-report-param"
        [routerLink]="['/relaxreporting/report-param/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="relaxReportingApp.relaxReportingReportParam.home.createLabel">Create a new Report Param</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (reportParams?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="relaxReportingApp.relaxReportingReportParam.home.notFound">No Report Params found</span>
    </div>
  }

  @if (reportParams && reportParams.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="rid">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportParam.rid">Rid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportParam.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportParam.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="value">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportParam.value">Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="conversionRule">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportParam.conversionRule">Conversion Rule</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="report.rid">
              <div class="d-flex">
                <span jhiTranslate="relaxReportingApp.relaxReportingReportParam.report">Report</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (reportParam of reportParams; track trackRid) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/relaxreporting/report-param', reportParam.rid, 'view']">{{ reportParam.rid }}</a>
              </td>
              <td>{{ reportParam.name }}</td>
              <td>{{ reportParam.type }}</td>
              <td>{{ reportParam.value }}</td>
              <td>{{ reportParam.conversionRule }}</td>
              <td>
                @if (reportParam.report) {
                  <div>
                    <a [routerLink]="['/relaxreporting/report', reportParam.report.rid, 'view']">{{ reportParam.report.rid }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/relaxreporting/report-param', reportParam.rid, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/relaxreporting/report-param', reportParam.rid, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(reportParam)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
